* {
  box-sizing: border-box;
}
.wrapper {
  width: 1300px;
  height: 2880px;
  margin: auto;
}
.head {
  display: flex;
  height: 120px;
  background-color: #515151;
  align-items: center;
  justify-content: space-between;
  padding: 0 180px;
}
.title {
  display: flex;
}
.title-letter {
  font-family: NanumMyeongjo;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  color: #959595;
  margin-left: 11px;
}
.nav-container {
  display: flex;
  width: 498px;
  justify-content: space-between;
}
.nav-list {
  display: inline;
  font-family: NanumGothic;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.12;
  letter-spacing: 1.6px;
  text-align: right;
  color: #ffffff;
}
.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 408px;
  background-color: #b5b5b5;
  padding: 0 181px;
}
.carousel.middle {
  width: 940px;
}
.main-article {
  height: 455px;
  display: flex;
  padding: 47px 180px 52px 180px;
  justify-content: space-between;
}
.carousel-btn-container {
  display: block;
  height: 30px;
}
.carousel-content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  width: 100%;
}
.carousel-content {
  font-family: NanumMyeongjo;
  font-size: 30px;
  text-align: center;
  color: #ffffff;
  white-space: pre-line;
}
.ccc-inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carousel-content-btn {
  width: 141px;
  height: 40px;
  border-radius: 3px;
  background-color: #828282;
  border: none;
  font-family: NanumGothic;
  font-size: 18px;
  color: #ffffff;
}
.article {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.article-dummy-photo {
  width: 65px;
  height: 53px;
}
.main-article-dummy-container {
  width: 300px;
  height: 216px;
  background-color: #e1e1e1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}